#signs{
    background-color: rgb(192, 27, 27); 
    border: 30px, black;
    color: white;
    padding: 28px 22px;
    text-align: center;
    text-decoration: none;
    font-size:90px;
    text-indent: 5px;
    position: relative;
    left: 395px;
    top: -125px;
}

#clear-button{
    background-color: rgba(211, 45, 45, 0.746); 
    font-family: Georgia, serif;
    border: 5px, black;
    color: #ffffff;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
    font-size:40px;
    text-indent: 0px;
    position: relative;
    left: 330px;
    bottom: 300px;
}

#equal-button{
    background-color: rgb(28, 98, 21); 
    color: white;
    border: 12px, black;
    padding: 28px 22px;
    text-align: center;
    text-decoration: none;
    font-size:90px;
    text-indent: 5px;
    position: relative;
    left: 850px;
    bottom: 600px; 
}

.parentDiv{
    height: 600px;
    width: 1000px; 
    background-color: transparent;
}

#input-one{
    font-size: 24px;
    width: 100px;
    position: relative;
    left: 110px;
    top: 60px;  
}

#input-two{
    font-size: 24px;
    width: 100px;
    position: relative;
    left: 580px;
    bottom: 325px;
    
}

input[type="text"]{
    text-align: center;
    border-radius: 25px;
    font-size:90px;  
}
input[type="text"]:focus{
    font-size:90px;
    border-radius: 25px;
    background-color: rgb(239, 243, 189);
}
header{
    background-color: rgba(204, 211, 146, 0.424);
    font-family: Georgia, serif;
    text-align: center;
    font-size: 60px;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(90deg, rgb(66, 170, 66), transparent 40%), 
    linear-gradient(-90deg, rgb(156, 61, 61), transparent 40%),
    linear-gradient(2deg, rgb(177, 134, 134), transparent 70%),
    linear-gradient(179deg, rgb(107, 168, 112), transparent 70%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.test:hover {
    font-size: 0;
  }
  
.test:hover:before {
    font-size: 42px;
    font-family: Georgia, serif;
    content: attr(data-hover);
  }  
#uno{
    font-size: 42px;
    width: 300px;
    font-family: Georgia, serif;
    position: relative;
    left: 110px;
    top: 100px; 
  }

.test-two:hover{
    font-size: 0;
}
.test-two:hover:before {
    font-size: 42px;
    font-family: Georgia, serif;
    content: attr(data-hover);
  }  

  #dos{
    font-size: 42px;
    width: 300px;
    font-family: Georgia, serif;
    position: relative;
    left: 580px;
    top: 50px; 
  }

#results{
    position: relative;
    font-weight: bold;
    font-size: 100px;
    width: 150px;
    height:50px;
    left: 1050px;
    bottom: 730px; 
}
.test-three:hover{
    font-size: 0;
}
.test-three:hover:before {
    font-size: 23px;
    font-family: Georgia, serif;
    content: attr(data-hover);
  }  
  #opp{
    font-size: 23px;
    text-align: center;
    width: 250px;
    height: 15px;
    font-family: Georgia, serif;
    position: relative;
    left: 330px;
    top: 80px; 

  }
.test-four:hover{
    font-size: 0;
}
.test-four:hover:before {
    font-size: 23px;
    font-family: Georgia, serif;
    content: attr(data-hover);
  }  
 #eq-text{
    font-size: 23px;
    text-align: center;
    width: 250px;
    height: 15px;
    font-family: Georgia, serif;
    position: relative;
    left: 775px;
    top: 70px; 
  }
  .test-five:hover{
    font-size: 0;
}
.test-five:hover:before {
    font-size: 45px;
    text-decoration: underline;
    font-family: Georgia, serif;
    content: attr(data-hover);
  }  
  #ans-text{
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    height: 30px;
    font-family: Georgia, serif;
    position: relative;
    left: 1055px;
    top: 60px; 
  }

#answer-history{
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 30px;
    font-family: Georgia, serif;
    position: relative;
    left: 995px;
    bottom:580px; 

}