#signs{
    background-color: #f44336;; 
    border: none;
    color: white;
    padding: 28px 22px;
    text-align: center;
    text-decoration: none;
    font-size:60px;
    text-indent: 5px;
    position: relative;
    left: 300px;
    top: 10px;
}
.parentDiv{
    height: 600px;
    width: 1000px; 
    background-color: transparent;
}

#input-two{
    font-size: 24px;
    width: 100px;
    position: relative;
    left: 550px;
    top: 40px;
}

input[type="text"]
{
    font-size:56px;
}
header{
    text-align: center;
    font-size: 40px;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(90deg, forestgreen, transparent 40%), linear-gradient(-125deg, red, transparent 40%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}